.mediaViewInfo {
  --web-view-name: Web 1920 – 1;
  --web-view-id: Chromas;
  --web-scale-on-resize: true;
  --web-center-horizontally: true;
  --web-enable-deep-linking: true;
}

:root {
  --web-view-ids: Chromas;
}
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
.button {
    border: none;
    color: white;
    left: 30px;
    top: 176px;
    text-align: justify;
    text-decoration: none;
    position: absolute;
    font-size: 30px;
    font-family: Arial;
    cursor: pointer;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 18px;
    padding-top: 18px;
    border-radius: 20px;
  }
.button1 {background-color: #0DA303;}
#slapta{
	background-color: transparent;
	color: transparent;
	position: absolute;
	left: 1800px;
	top: 175px;
	width: 70px;
	height: 70px;
	border-radius: 20px;
	cursor: pointer;
}
#Chromas {
  position: relative;
  width: 1900px;
  height: 1300px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: Web 1920 – 1;
  --web-view-id: Chromas;
  --web-scale-on-resize: true;
  --web-center-horizontally: true;
  --web-enable-deep-linking: true;
  zoom: 99.973%;
  
}
#Chromas_f {
  left: 35px;
  top: 21px;
  position: absolute;
  overflow: visible;
  width: 421px;
  height: 107px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  color: rgba(13,163,3,1);  
}
#Rectangle_1 {
  fill: rgba(246,255,0,1);
}
.Rectangle_1 {
  position: absolute;
  overflow: visible;
  resize: horizontal;
  width: 1900px;
  height: 140px;
  left: 0px;
  top: 140px;
}
#Rectangle_2 {
  fill: rgba(13,163,3,1);
}
.Rectangle_2 {
  position: absolute;
  overflow: visible;
  width: 245px;
  height: 70px;
  left: 35px;
  top: 175px;
}
#dti_skelbim {
  left: 70px;
  top: 191px;
  position: absolute;
  overflow: visible;
  width: 230px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(255,255,255,1);
}
#Group_3 {
  position: absolute;
  width: 1435px;
  height: 70px;
  left: 330px;
  top: 175px;
  overflow: visible;
}
#Rectangle_3 {
  fill: rgba(255,255,255,1);
}
.Rectangle_3 {
  position: absolute;
  overflow: visible;
  width: 1435px;
  height: 70px;
  left: 0px;
  top: 0px;
}
#Rectangle_4 {
  fill: rgb(17, 187, 5);
}
.Rectangle_4 {
  position: absolute;
  overflow: visible;
  width: 70px;
  height: 70px;
  left: 1800px;
  top: 175px;
}
#Icon_ionic-ios-search {
  fill: rgba(0,0,0,1);
}
.Icon_ionic-ios-search {
  overflow: visible;
  position: absolute;
  width: 61.992px;
  height: 62.007px;
  left: 1804.004px;
  top: 178.996px;
  transform: matrix(1,0,0,1,0,0);
}
#Registracija {
  left: 1707.393px;
  top: 100px;
  position: absolute;
  overflow: visible;
  width: 246px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Prisijungimas {
  left: 1500px;
  top: 100px;
  position: absolute;
  overflow: visible;
  width: 181px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #000000;
}
a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}



#Naujausi_skelbimai {
  left: 35px;
  top: 297px;
  position: absolute;
  overflow: visible;
  width: 351px;
  height: 41px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  color: rgba(0,0,0,1);
}
#Rectangle_5 {
  fill: rgba(246,255,0,1);
}
.Rectangle_5 {
  position: absolute;
  overflow: visible;
  width: 1900px;
  height: 35px;
  left: 0px;
  top: 350px;
}
#Rectangle_6 {
  fill: rgba(246,255,0,1);
}
.Rectangle_6 {
  position: absolute;
  overflow: visible;
  width: 1900px;
  height: 35px;
  left: 0px;
  top: 630px;
}
#Rectangle_7 {
  opacity: 0.3;
  fill: rgba(231,231,231,1);
}
.Rectangle_7 {
  position: absolute;
  overflow: visible;
  width: 1900px;
  height: 245px;
  left: 0px;
  top: 385px;
}
#Transportas {
  left: 171px;
  top: 700px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 39px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  color: rgba(13,163,3,1);
}
#Nekilnojamasis_turtas {
  left: 525px;
  top: 700px;
  position: absolute;
  overflow: visible;
  width: 351px;
  height: 39px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  color: rgba(13,163,3,1);
}
#Darbas_paslaugos {
  left: 1048.025px;
  top: 700px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 39px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  color: rgba(13,163,3,1);
}
#Automobilis {
  left: 175.938px;
  top: 773px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_y {
  left: 525px;
  top: 774px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_z {
  left: 1050px;
  top: 774px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_ {
  left: 1505px;
  top: 774px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_ba {
  left: 175.938px;
  top: 879px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bb {
  left: 525px;
  top: 880px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bc {
  left: 1050px;
  top: 880px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bd {
  left: 1505px;
  top: 880px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_be {
  left: 175.938px;
  top: 826px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bf {
  left: 525px;
  top: 827px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bg {
  left: 1050px;
  top: 827px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bh {
  left: 1505px;
  top: 827px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bi {
  left: 175.938px;
  top: 932px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bj {
  left: 525px;
  top: 933px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bk {
  left: 1050px;
  top: 933px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bl {
  left: 1505px;
  top: 933px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bm {
  left: 175.938px;
  top: 1146px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bn {
  left: 525px;
  top: 1147px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bo {
  left: 1050px;
  top: 1147px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bp {
  left: 1505px;
  top: 1147px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bq {
  left: 175.938px;
  top: 1038px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_br {
  left: 525px;
  top: 1039px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bs {
  left: 1050px;
  top: 1039px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bt {
  left: 1505px;
  top: 1039px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bu {
  left: 175.938px;
  top: 985px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bv {
  left: 525px;
  top: 986px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bw {
  left: 1050px;
  top: 986px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bx {
  left: 1505px;
  top: 986px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_by {
  left: 175.938px;
  top: 1092px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_bz {
  left: 525px;
  top: 1093px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_b {
  left: 1050px;
  top: 1093px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Buitis {
  left: 1503px;
  top: 700px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 39px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  color: rgba(13,163,3,1);
}
#Kompiuterija {
  left: 170.062px;
  top: 1260px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 39px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  color: rgba(13,163,3,1);
}
#Komunikacijos {
  left: 525px;
  top: 1260px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 39px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  color: rgba(13,163,3,1);
}
#Technika {
  left: 1048.025px;
  top: 1260px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 39px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  color: rgba(13,163,3,1);
}
#Automobilis_cb {
  left: 175px;
  top: 1333px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_ca {
  left: 1505px;
		top: 1093px;
		position: absolute;
		overflow: visible;
		width: 316px;
		height: 33px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,1);
}
#Automobilis_cc {
  left: 525px;
  top: 1334px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_cd {
  left: 1050px;
  top: 1334px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_ce {
  left: 1505px;
  top: 1334px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_cf {
  left: 175px;
  top: 1439px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_cg {
  left: 525px;
  top: 1440px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_ch {
  left: 1050px;
  top: 1440px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_ci {
  left: 1505px;
  top: 1440px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_cj {
  left: 175px;
  top: 1386px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_ck {
  left: 525px;
  top: 1387px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_cl {
  left: 1050px;
  top: 1387px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_cm {
  left: 1505px;
  top: 1387px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_cn {
  left: 175px;
  top: 1492px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_co {
  left: 525px;
  top: 1493px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_cp {
  left: 1050px;
  top: 1493px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_cq {
  left: 1505px;
  top: 1493px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_cr {
  left: 175px;
  top: 1706px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_cs {
  left: 525px;
  top: 1707px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_ct {
  left: 1050px;
  top: 1707px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_cu {
  left: 1505px;
  top: 1707px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_cv {
  left: 175px;
  top: 1598px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_cw {
  left: 525px;
  top: 1599px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_cx {
  left: 1050px;
  top: 1599px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_cy {
  left: 1505px;
  top: 1599px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_cz {
  left: 175px;
  top: 1545px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_c {
  left: 525px;
  top: 1546px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_da {
  left: 1050px;
  top: 1546px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_db {
  left: 1505px;
  top: 1546px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_dc {
  left: 175px;
  top: 1652px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_dd {
  left: 525px;
  top: 1653px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_de {
  left: 1050px;
  top: 1653px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Automobilis_df {
  left: 1505px;
  top: 1653px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 33px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1);
}
#Drabuiai_avalyn {
  left: 1503px;
  top: 1260px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 39px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  color: rgba(13,163,3,1);
}
#Rectangle_8 {
  fill: rgba(246,255,0,1);
}

.Rectangle_8 {
  position: absolute;
  overflow: visible;
  width: 1900px;
  height: 110px;
  left: 0px;
  top: 1225px;
}
.unnamed {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 120px;
  top: 408px;
  overflow: visible;
  border-radius: 25px;
}
.unnamed_cv {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 380.523px;
  top: 408px;
  overflow: visible;
  border-radius: 25px;
}
.unnamed_cw {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 626.628px;
  top: 408px;
  overflow: visible;
  border-radius: 25px;
}
.unnamed_cx {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 870.756px;
  top: 408px;
  overflow: visible;
  border-radius: 25px;
}
.unnamed_cy {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 1114.884px;
  top: 408px;
  overflow: visible;
  border-radius: 25px;
}
.unnamed_cz {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 1359.012px;
  top: 408px;
  overflow: visible;
  border-radius: 25px;
}
.unnamed_c {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 1600px;
  top: 408px;
  overflow: visible;
   border-radius: 25px;
}


#Icon_ionic-ios-arrow-forward {
  opacity: 0.45;
  fill: rgba(0,0,0,1);
}
.Icon_ionic-ios-arrow-forward {
  overflow: visible;
  position: absolute;
  width: 36.77px;
  height: 70px;
  left: 1857.583px;
  top: 472.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-arrow-back {
  opacity: 0.45;
  fill: rgba(0,0,0,1);
}
.Icon_ionic-ios-arrow-back {
  overflow: visible;
  position: absolute;
  width: 36.77px;
  height: 70px;
  left: 16.615px;
  top: 472.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_6 {
  position: absolute;
  width: 1435px;
  height: 69px;
  left: 330px;
  top: 176px;
  overflow: visible;
  padding: 15px 10px 15px 15px;
}
#Iekoti {
  left: 15px;
  top: 15px;
  position: absolute;
  overflow: visible;
  width: 1411px;
  height: 39px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  color: rgba(0,0,0,1);
}

/* visited link */
a:visited {
  color: rgb(0, 0, 0);
}

/* mouse over link */
a:hover {
  color: rgb(126, 126, 126);
}

/* selected link */
a:active {
  color: rgb(126, 126, 126);
} 
#pirmas {
  fill: rgba(246,255,0,1);
}
.pirmas {
  position: absolute;
  overflow: visible;
  width: 280px;
  height: 15px;
  left: 175px;
  top: 745px;
}
#penktas {
  fill: rgba(246,255,0,1);
}
.penktas {
  position: absolute;
  overflow: visible;
  width: 280px;
  height: 15px;
  left: 175px;
  top: 1304px;
}
#sestas {
  fill: rgba(246,255,0,1);
}
.sestas {
  position: absolute;
  overflow: visible;
  width: 333px;
  height: 15px;
  left: 525px;
  top: 1304px;
}
#septintas {
  fill: rgba(246,255,0,1);
}
.septintas {
  position: absolute;
  overflow: visible;
  width: 268px;
  height: 15px;
  left: 1050px;
  top: 1304px;
}
#astuntas {
  fill: rgba(246,255,0,1);
}
.astuntas {
  position: absolute;
  overflow: visible;
  width: 365px;
  height: 15px;
  left: 1505px;
  top: 1304px;
}
#trecias {
  fill: rgba(246,255,0,1);
}
.trecias {
  position: absolute;
  overflow: visible;
  width: 404px;
  height: 15px;
  left: 1050px;
  top: 745px;
}
#ketvirtas {
  fill: rgba(246,255,0,1);
}
.ketvirtas {
  position: absolute;
  overflow: visible;
  width: 280px;
  height: 15px;
  left: 1505px;
  top: 745px;
}
#antras {
  fill: rgba(246,255,0,1);
}
.antras {
  position: absolute;
  overflow: visible;
  width: 455px;
  height: 15px;
  left: 525px;
  top: 745px;
}
#Icon_awesome-car-alt {
  fill: rgba(246,255,0,1);
}
.Icon_awesome-car-alt {
  overflow: visible;
  position: absolute;
  width: 48px;
  height: 38.4px;
  left: 407px;
  top: 700px;
  transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-home {
  fill: rgba(246,255,0,1);
}
.Icon_awesome-home {
  overflow: visible;
  position: absolute;
  width: 50.252px;
  height: 39.077px;
  left: 929.748px;
  top: 695.923px;
  transform: matrix(1,0,0,1,0,0);
}
#Icon_material-work {
  fill: rgba(246,255,0,1);
}
.Icon_material-work {
  overflow: visible;
  position: absolute;
  width: 44.007px;
  height: 41.807px;
  left: 1404px;
  top: 693.193px;
  transform: matrix(1,0,0,1,0,0);
}
#Icon_metro-lamp {
  fill: rgba(246,255,0,1);
}
.Icon_metro-lamp {
  overflow: visible;
  position: absolute;
  width: 41.497px;
  height: 45.049px;
  left: 1743.503px;
  top: 689.951px;
  transform: matrix(1,0,0,1,0,0);
}
#Icon_material-computer {
  fill: rgba(246,255,0,1);
}
.Icon_material-computer {
  overflow: visible;
  position: absolute;
  width: 58.749px;
  height: 39.166px;
  left: 396.251px;
  top: 1255.834px;
  transform: matrix(1,0,0,1,0,0);
}
#Icon_material-phone-android {
  fill: rgba(246,255,0,1);
}
.Icon_material-phone-android {
  overflow: visible;
  position: absolute;
  width: 31.539px;
  height: 47.635px;
  left: 818px;
  top: 1247.365px;
  transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-camera {
  fill: rgba(246,255,0,1);
}
.Icon_awesome-camera {
  overflow: visible;
  position: absolute;
  width: 46.366px;
  height: 40.57px;
  left: 1263px;
  top: 1254.43px;
  transform: matrix(1,0,0,1,0,0);
}
#Icon_map-clothing-store {
  fill: rgba(246,255,0,1);
}
.Icon_map-clothing-store {
  overflow: visible;
  position: absolute;
  width: 46px;
  height: 34.844px;
  left: 1824px;
  top: 1260px;
  transform: matrix(1,0,0,1,0,0);
}

.autocomplete {
  position: absolute;
  width: 1435px;
  left: 330px;
  top: 175px;
  
}
/*sitas ne*/
input[type=text]  {
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  padding: 20px;
  border-radius: 25px;
}

.autocomplete-items {
  position: absolute;
  
  border-radius: 25px;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;

}


/*sumbit*/
input {
  border: 1px solid transparent;
  background-color: #c2c2c2;
  padding: 10px;
  font-size: 20px;
  
}


input[type=image]  {
  background-color: rgb(23, 207, 9);
  color: #fff;
  cursor: pointer;
  padding: 20px;
  border-radius: 15px;
  width: 70px;
  height: 70px;
  left: 1800px;
  top: 175px;
  position: absolute; 
}



.autocomplete-items div {
  padding: 20px;
  cursor: pointer;
  background-color: rgba(236, 236, 236, 0.938); 
  border-bottom: 1px solid #d4d4d4; 
  border-radius: 25px;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}