	.mediaViewInfo {
		--web-view-name: Web 1920 – 1;
		--web-view-id: Web_1920__1;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: fit;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Web_1920__1;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	
	#Web_1920__1 {
		position: absolute;
		width: 1920px;
		height: 1080px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Web 1920 – 1;
		--web-view-id: Web_1920__1;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: fit;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_1 {
		fill: rgba(246,255,0,1);
	}
	.Rectangle_1 {
		position: absolute;
  		overflow: visible;
 		resize: horizontal;
  		width: 1900px;
  		height: 140px;
  		left: 0px;
  		top: 140px;
	}
	#Component_1__1 {
		position: absolute;
		width: 162px;
		height: 150px;
		left: 54px;
		top: 246px;
		overflow: visible;
	}
	#istockphoto-1223671392-612x612 {
		position: absolute;
		width: 162px;
		height: 150px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_2 {
		fill: rgba(13,163,3,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_2 {
		position: absolute;
		overflow: visible;
		width: 406px;
		height: 70px;
		left: 51px;
		top: 470px;
	}
	.Prisijungimo_duomenys {
		left: 73px;
		top: 482px;
		position: absolute;
		overflow: visible;
		width: 363px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(112,112,112,1);
	}
	#Rectangle_3 {
		fill: rgba(13,163,3,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_3 {
		position: absolute;
		overflow: visible;
		width: 605px;
		height: 70px;
		left: 1040px;
		top: 286px;
	}
	.Prisijungimo_duomenys_m {
		left: 73px;
		top: 482px;
		position: absolute;
		overflow: visible;
		width: 363px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(229,224,224,1);
	}
	.Parduodamos_preks {
		left: 1162px;
		top: 298px;
		position: absolute;
		overflow: visible;
		width: 325px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(229,224,224,1);
	}
	.Chromas {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 436px;
		height: 67px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(13,163,3,1);
	}

	.Vartojo_Vardas{
		left: 51px;
		top: 600px;
		position: absolute;
		overflow: visible;
		width: 385px;
		height: 47px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(112,112,112,1);
	}
	.E_Pastas{
		left: 51px;
		top: 662px;
		position: absolute;
		overflow: visible;
		width: 385px;
		height: 47px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(112,112,112,1);
	}
	.Slaptaodis {
		left: 51px;
		top: 721px;
		position: absolute;
		overflow: visible;
		width: 385px;
		height: 47px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(112,112,112,1);
	}
	.Keisti_duomenis {
		left: 51px;
		top: 780px;
		position: absolute;
		overflow: visible;
		width: 385px;
		height: 40px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(112,112,112,1);
		display: inline-block;
		cursor: pointer;
	}
	#niclas-illg-wzVQp_NRIHg-unspla {
		position: absolute;
		width: 284px;
		height: 274px;
		left: 1040px;
		top: 412px;
		overflow: visible;
	}
	#niclas-illg-wzVQp_NRIHg-unspla_t {
		position: absolute;
		width: 276px;
		height: 274px;
		left: 1369px;
		top: 412px;
		overflow: visible;
	}
	#niclas-illg-wzVQp_NRIHg-unspla_u {
		position: absolute;
		width: 284px;
		height: 274px;
		left: 1040px;
		top: 736px;
		overflow: visible;
	}
	#niclas-illg-wzVQp_NRIHg-unspla_v {
		position: absolute;
		width: 284px;
		height: 274px;
		left: 1369px;
		top: 736px;
		overflow: visible;
	}
	.Pagrindinis_puslapis {
		left: 1486px;
		top: 34px;
		position: absolute;
		overflow: visible;
		width: 286px;
		height: 80px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(112,112,112,1);
		display: inline-block;
		cursor: pointer;
	}

	.button {
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}

	.header{
		display: flex;
		flex-wrap: wrap;
	}
	body {
		font-family: 'Montserrat', sans-serif;
		line-height: 1.6;
		margin: 0;
		/**min-height: 100vh;
		display: flex;
		flex-wrap: wrap;*/
	}
	ul {
		display:flex;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}
	
	a {
		text-decoration: none;
	}
	
	.logo {
		margin: 0;
		font-size: 1.45em;
	}
	
	.main-nav {
		margin-top: 5px;
		width: 90%;
		justify-content: end;
	}
	
	.logo a,
	.main-nav a {
		padding: 10px 15px;
		text-transform: uppercase;
		text-align: center;
		display: block;
		color: #dddddd;
	}
	.main-nav a {
		color: #6bb666;
		font-size: .99em;
	}
	
	.main-nav a:hover {
		color: #a7a7a7;
	}
	
	.header {
		padding-top: .5em;
		padding-bottom: .5em;
		border: 1px solid #a7a7a7;
		background-color: #054700;
		-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	/* Messages:
	1. Exported image: istockphoto-1223671392-612x612.png (9.2k)
	2. Exported image: istockphoto-1223671392-612x612@2x.png (23.2k)
	3. Exported image: niclas-illg-wzVQp_NRIHg-unspla.png (136.5k)
	4. Exported image: niclas-illg-wzVQp_NRIHg-unspla@2x.png (475k)
	5. Exported image: niclas-illg-wzVQp_NRIHg-unspla_t.png (133.1k)
	6. Exported image: niclas-illg-wzVQp_NRIHg-unspla_t@2x.png (463.3k)
	7. Exported image: niclas-illg-wzVQp_NRIHg-unspla_u.png (136.5k)
	8. Exported image: niclas-illg-wzVQp_NRIHg-unspla_u@2x.png (475k)
	9. Exported image: niclas-illg-wzVQp_NRIHg-unspla_v.png (136.5k)
	10. Exported image: niclas-illg-wzVQp_NRIHg-unspla_v@2x.png (475k)
	11. Exported image: Total image size 551.8k */