.mediaViewInfo {
    --web-view-name: Web 1920 – 1;
    --web-view-id: Web_1920__1;
    --web-scale-on-resize: true;
    --web-center-horizontally: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Web_1920__1;
}
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Web_1920__1 {
    position: relative;
    width: 1900px;
    height: 2374px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Web 1920 – 1;
    --web-view-id: Web_1920__1;
    --web-scale-on-resize: true;
    --web-center-horizontally: true;
    --web-enable-deep-linking: true;
    zoom: 79.95%;
}
  input[type=text] {
    width: 600px;
    right: 135px;
    padding: 20px 20px;
    margin: 8px 0;
    position: absolute;
    top: 925px;
    border: 1px solid #ccc;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 20px;
    font-family: Arial;
  }
  input[type=text1] {
    width: 600px;
    right: 135px;
    padding: 20px 20px;
    margin: 8px 0;
    position: absolute;
    top: 1625px;
    border: 1px solid #ccc;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 20px;
    font-family: Arial;
  }
  input[type=text2] {
    width: 600px;
    right: 135px;
    padding: 20px 20px;
    margin: 8px 0;
    position: absolute;
    top: 1835px;
    border: 1px solid #ccc;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 20px;
    font-family: Arial;
  }
  input[type=text3] {
    width: 600px;
    right: 135px;
    padding: 20px 20px;
    margin: 8px 0;
    position: absolute;
    top: 1935px;
    border: 1px solid #ccc;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 20px;
    font-family: Arial;
  }
  input[type=text4] {
    width: 600px;
    right: 135px;
    padding: 20px 20px;
    margin: 8px 0;
    position: absolute;
    top: 2040px;
    border: 1px solid #ccc;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 20px;
    font-family: Arial;
  }
  
.button1 {
	background-color: rgba(13,163,3,1);
	position: absolute;
    top: 2175px;
    left: 1470px; 
    border-radius: 20px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;  
    font-size: 16px;
    margin: 4px 15px;
    cursor: pointer;
	} 
.button2 {
	background-color: #0d4915;
	position: absolute;
    top: 2175px;
    left: 1650px;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;  
    font-size: 16px;
    margin: 4px 15px;
    cursor: pointer;
} 
  .kazkas{
    width: 1280px;
    height: 250px;
    top: 1025px;
    right: 135px;
    resize:none;
    position: absolute;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 20px;
    font-family: Arial;
    padding: 1em;
  }
  .autocomplete {
    position: absolute;
    width: 1435px;
    left: 50px;
    top: 175px;
    
  }
  input[type=text45]  {
    background-color: #ffffff;
   
    padding: 20px;
    border-radius: 25px;
    width: 1730px;
    height: 70px;
  }
  
  .autocomplete-items {
    position: absolute;
    
    border-radius: 25px;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  
  }
  
  
  input {
    border: 1px solid transparent;
    background-color: #c2c2c2;
    padding: 10px;
    font-size: 20px;
    
  }
  
  
  input[type=image]  {
    background-color: rgb(23, 207, 9);
    color: #fff;
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
    width: 70px;
    height: 70px;
    left: 1800px;
    top: 175px;
    position: absolute; 
  }
  
  
  
  .autocomplete-items div {
    padding: 20px;
    cursor: pointer;
    background-color: rgba(236, 236, 236, 0.938); 
    border-bottom: 1px solid #d4d4d4; 
    border-radius: 25px;
  }
  
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }

  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
  .dropdown{
    position: absolute;
    display:flex;
    left: 1170px;
    top: 1425px;
    border-radius: 20px;
    box-sizing: border-box;
    width: 600px;
    height: 65px;
    font-size: 20px;
    font-family: Arial;
    border: 1px solid #ccc;
    padding: 5px;
  }
  .dropdown1{
    position: absolute;
    display:flex;
    left: 1170px;
    top: 1525px;
    border-radius: 20px;
    box-sizing: border-box;
    width: 600px;
    height: 65px;
    font-size: 20px;
    font-family: Arial;
    border: 1px solid #ccc;
    padding: 5px;
  }
	#Rectangle_7 {
		opacity: 0.7;
		fill: rgba(232,232,232,0.6);
	}
	.Rectangle_7 {
		position: absolute;
		overflow: visible;
		width: 1680px;
		height: 385px;
		left: 105px;
		top: 385px;
	}


#IkeltiNuotraukas{
	position: absolute;
	left: 130px;
	top: 405px;
	overflow:visible;
	font-size: 55px;
	font-family: Arial;
    font-style: normal;
    font-weight: normal;
}
#kaka{
	position: absolute;
	left: 240px;
	top: 480px;
	border-radius: 20px;
}
#files{
	position: absolute;
	left: 240px;
	top: 480px;
	border-radius: 20px;
}
#kaka1{
	position: absolute;
	left: 750px;
	top: 480px;
	border-radius: 20px;
}
#kaka2{
	position: absolute;
	left: 1270px;
	top: 480px;
	border-radius: 20px;
}
.image-preview{
	width: 400px;
	border: 2px	solid #dddddd;
	position: absolute;
	top: 550px;
	left: 240px;
	height: 200px;
	align-items: center;
	justify-content: center;
	display: flex;
}
.image-preview1{
	width: 400px;
	border: 2px	solid #dddddd;
	position: absolute;
	top: 550px;
	left: 750px;
	height: 200px;
	align-items: center;
	justify-content: center;
	display: flex;
}
.image-preview2{
	width: 400px;
	border: 2px	solid #dddddd;
	position: absolute;
	top: 550px;
	left: 1270px;
	height: 200px;
	align-items: center;
	justify-content: center;
	display: flex;
}
#Rectangle_4 {
    opacity: 0.74;
    fill: rgba(13,163,3,1);
}
.Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 70px;
    height: 70px;
    left: 1800px;
    top: 175px;
}
#Chromas {
    left: 35px;
    top: 21px;
    position: absolute;
    overflow: visible;
    width: 421px;
    height: 107px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    color: rgba(13,163,3,1);
}
#Rectangle_5 {
    fill: rgba(246,255,0,1);
}
.Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 1900px;
    height: 110px;
    left: 0px;
    top: 2270px;
}
#Rectangle_7 {
    opacity: 0.7;
    fill: rgba(232,232,232,0.6);
}
.Rectangle_7 {
    position: absolute;
    overflow: visible;
    width: 1680px;
    height: 385px;
    left: 105px;
    top: 385px;
}
	#Rectangle_1 {
		fill: rgba(239,239,25,1);
	}
	.Rectangle_1 {
		position: absolute;
		overflow: visible;
		width: 1900px;
		height: 140px;
		left: 0px;
		top: 140px;
	}

#Rectangle_8 {
    opacity: 0.7;
    fill: rgba(232,232,232,0.6);
}
.Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 1680px;
    height: 385px;
    left: 110px;
    top: 910px;
}
#Preks_apraymas {
    left: 140px;
    top: 1050px;
    position: absolute;
    overflow: visible;
    width: 436px;
    height: 44px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(0,0,0,1);
}
#Pavadinimas {
    left: 140px;
    top: 945px;
    position: absolute;
    overflow: visible;
    width: 386px;
    height: 44px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(0,0,0,1);
}
#Rectangle_9 {
    opacity: 0.7;
    fill: rgba(232,232,232,0.6);
}
.Rectangle_9 {
    position: absolute;
    overflow: visible;
    width: 1680px;
    height: 315px;
    left: 110px;
    top: 1400px;
}
#Kategorija {
    left: 140px;
    top: 1435px;
    position: absolute;
    overflow: visible;
    width: 386px;
    height: 44px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(0,0,0,1);
}
#Bkl {
    left: 140px;
    top: 1540px;
    position: absolute;
    overflow: visible;
    width: 386px;
    height: 44px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(0,0,0,1);
}
#Kaina {
    left: 140px;
    top: 1645px;
    position: absolute;
    overflow: visible;
    width: 386px;
    height: 44px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(0,0,0,1);
}
#Rectangle_10 {
    opacity: 0.7;
    fill: rgba(232,232,232,0.6);
}
.Rectangle_10 {
    position: absolute;
    overflow: visible;
    width: 1680px;
    height: 315px;
    left: 110px;
    top: 1820px;
}
#Telefono_nr {
    left: 140px;
    top: 1855px;
    position: absolute;
    overflow: visible;
    width: 386px;
    height: 44px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(0,0,0,1);
}
#Adresas {
    left: 140px;
    top: 2065px;
    position: absolute;
    overflow: visible;
    width: 386px;
    height: 44px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(0,0,0,1);
}
#Miestas {
    left: 140px;
    top: 1960px;
    position: absolute;
    overflow: visible;
    width: 386px;
    height: 44px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(0,0,0,1);
}
#Line_1 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_1 {
    overflow: visible;
    position: absolute;
    width: 1680px;
    height: 1px;
    left: 105px;
    top: 1015px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_2 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_2 {
    overflow: visible;
    position: absolute;
    width: 1680px;
    height: 1px;
    left: 110px;
    top: 1505px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_3 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_3 {
    overflow: visible;
    position: absolute;
    width: 1680px;
    height: 1px;
    left: 110px;
    top: 1610px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_4 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_4 {
    overflow: visible;
    position: absolute;
    width: 1680px;
    height: 1px;
    left: 110px;
    top: 1925px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_5 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_5 {
    overflow: visible;
    position: absolute;
    width: 1680px;
    height: 1px;
    left: 110px;
    top: 2030px;
    transform: matrix(1,0,0,1,0,0);
}